* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

#bottone{
    color: white;
    font-size: 26px;
    padding: 5px;
    margin-top: 15px;
    background-color: limegreen; 
    border-radius: 5px;
}

.nodisplay{
    display: none;
}

.indicatore{
    background-color: green;
}

.traccia{
    background-color: darkgreen;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 50px;
}

.griglia {
    display: flex;
    flex-wrap: wrap;
}

.griglia>* {
    aspect-ratio: 1;
    border: 2px dotted rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}